// ESTILOS DE CONTENEDOR -----------------------------------------
.container__page--aside{
    width: 100vw;
    background-color: $bacKgroundAside;
}
.container__section--aside{
    width: 100%;
    height: auto;
    min-height: $asideSectionHeightMobile;

    padding-top: 20px;
    padding-bottom: 20px;

    @include mediaSize(tablet){
        height: auto;
        min-height: $asideSectionHeightTablet;
    }
    @include mediaSize(desktop){
        height: auto;
        min-height: $asideSectionHeightDesktop;
    }
}  

// ESTILOS DE ELEMENTOS -------------------------------------------

.aside__title{
    padding-bottom: 20px;
}



