// ESTILOS DE CONTENEDOR -----------------------------------------
.container__page--main{
    width: 100vw;
    background-color: $bacKgroundMain;
}
.container__section--main{
    width: 100%;
    padding-top: 10px;

    height: $mainSectionHeightMobile;
    @include mediaSize(tablet){
        height: $mainSectionHeightTablet;
    }
    @include mediaSize(desktop){
        height: $mainSectionHeightDesktop;
    }
}  

// ESTILOS DE ELEMENTOS -------------------------------------------

.main__title{
}
.main__text{

}
.main__content{
    margin-top: 20%;
    margin-left: 40%;
    padding: 25px;
    background-color: $colorTheme1;;
    .main__text{
        margin: 15px;
    }
}
