// ESTILOS DE CONTENEDOR -----------------------------------------
.container__page--main{
    width: 100vw;
    background-color: $bacKgroundMain;
}
.container__section--main{
    width: 100%;
    padding-top: 10px;

    height: $mainSectionHeightMobile;
    @include mediaSize(tablet){
        height: $mainSectionHeightTablet;
    }
    @include mediaSize(desktop){
        height: $mainSectionHeightDesktop;
    }
}  

// ESTILOS DE ELEMENTOS -------------------------------------------

