.bio-box{
    margin-top: 30px;
    margin-bottom: 30px;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-auto-flow: row;
    grid-auto-rows: auto;
    grid-gap: 20px 20px;
    @include mediaSize(tablet){
        grid-template-columns: repeat(2, 1fr);
    }
    @include mediaSize(desktop){
        grid-template-columns: repeat(2, 1fr);
    }

    .bio, .file-box{
        background: linear-gradient($colorTransparent 0%, $colorTransparent 50%, $colorTheme2 100%);
        background-blend-mode: darken;
        padding: 20px;
    }

    .bio{
        grid-column: span 1;
        grid-row: span 2;
    
        &__picture{
            height: 220px;
            width: 220px;
            margin-bottom: 20px;
            border-radius: 50%;
            box-shadow: 0 0 7px 4px $colorTheme5;
        }
        &__text{
            margin-bottom: 10px;
            &--title{
                margin-top: 20px;
            }
        }
    }
    .file-box{
        grid-column: span 1;
        grid-row: span 1;

        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-end;
        .column1{
            margin-right: 20px;

            .cv-image{
                width: 250px;
                height: 350px;
            }
            .download-button{
                width: 250px;
                text-align: center;
                margin-top: 10px;
            }
    
            .LI-profile-badge{
            
            }
            .share-twitter-button{
                width: 250px;
                text-align: center;
                margin-top: 10px;
                .twitterIcon{
                    margin-right: 15px;
                    font-size: 20px;
                    color: #00a0f5;
                    text-shadow: 0 0 1px $colorTheme3;
                }
            }
            .share-whatsapp-button{
                width: 250px;
                text-align: center;
                margin-top: 10px;
                .whatsappIcon{
                    margin-right: 15px;
                    font-size: 20px;
                    color: #1BD741;
                    text-shadow: 0 0 1px $colorTheme3;
                }
            }
        }
        .column2{
            .cv__text{
                margin-bottom: 10px;
            }    
        }
    }
}
