// INPUTS

// BUTTONS
.button__base{
    display: block;
    padding: 5px 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    border: 1px solid $colorBlack;
    color: $colorBlack;
    box-shadow: 0 0 3px $colorTheme3;
    &:hover{
        box-shadow: 0 0 5px $colorTheme3 inset;
    }
}
