.contact{
    margin-top: 15px;
    height: auto;
    width: 100%;

    &__blockList{
        margin: 10px;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        @include mediaSize(tablet){
            padding-left: 0;
            flex-direction: row;
            justify-content: space-around;
            align-items: flex-start;    
        }
        @include mediaSize(desktop){
            padding-left: 0;
            flex-direction: row;
            justify-content: space-around;
            align-items: flex-start;    
        }    

        &--block{
            padding: 15px;
        }
        &--title{
            margin-bottom: 20px;
        }
        &--item{
            margin-left: 40px;
            margin-top: 10px;
        }
    }
}

.contact-icon{
    font-size: 20px;
    margin: 3px;
}