.firltersBox{
    margin: 30px 15px;
    border-bottom: 1px solid $colorBlack;
    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    @include mediaSize(tablet){
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    
    }

    .orderBox{
        display: flex;
        flex-direction: row;
    }
    .inputBox{
            margin-top: 3px;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            @include mediaSize(tablet){
                margin-left: 5px;
            }
            @include mediaSize(desktop){
                margin-left: 20px;
            }

            .label{
                margin-left: 5px;
                margin-right: 5px;
                @include mediaSize(tablet){
                    margin-left: 0;
                }    
            }
            select{
                border: 1px solid $colorTheme4;
                border-radius: 0;
                margin-right: 15px;
            }
    }
}
