
//CONTENEDOR

.projectList{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 260px;
    grid-auto-flow: row;
    grid-auto-rows: 260px;
    grid-gap: 1.5rem 0;
    @include mediaSize(tablet){
        margin-top: 50px;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 3rem 0;

    }
    @include mediaSize(desktop){
        grid-template-columns: repeat(4, 1fr);
    }
    .listElement{
        grid-column: span 1;
        grid-row: span 1;
        position: relative;

        .project__card--rotateArea {
            @include centerAll();
            background-color: $colorTransparent;
            width: 250px;
            height: 250px;
            perspective: 1000px;
            .project__card {
                position: relative;
                width: 100%;
                height: 100%;
                border: 1px solid $colorBlack;
                box-shadow: 0 0 7px 4px $colorTheme5;

                transition: transform 1s;
                transform-style: preserve-3d;

                .project__card--front {
                    background-color: $colorTheme1;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    align-items: center;
                }
                .project__card--back {
                    background-color: $colorTheme2;
                    transform: rotateY(180deg);
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                }
                .project__card--front, .project__card--back {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    padding: 10px;
                    -webkit-backface-visibility: hidden; /* Safari */
                    backface-visibility: hidden;
                }
            }

            &:hover .project__card {
                transform: rotateY(180deg);
            }
        }        
    }
}

// ELEMENTOS

.resultsInfo{
    width:100%;
    text-align: center;
}

.project__name{
    position: absolute;
    top: 20px;
    text-align: center;
}
.project__name--shadow{
    position: absolute;
    top: 35px;
    transform: rotateX(180deg);
    background: linear-gradient($colorTheme1, $colorTheme3);
    background-clip: text;
    color: transparent;
    opacity: 0.3;
}

.project__type{
    text-align: center;
    padding: 0 20px;
    height: 35px;
    color: $colorTheme3;
}
.project__date{
    text-align: center;
    padding: 0 20px;
    color: $colorTextBase;
    margin-bottom: 10px;
}

.project__image{
    width: 100%;
    height: 50%;
    margin-bottom: 0;
}
.project__description{
    text-align: center;
    width: 100%;
    height: 70%;
    overflow: scroll;
}
