
// SITE TITLE
.text__site--title{
    cursor: default;
    font-family: Soulcraft, 'Raleway', sans-serif;;
    color: $colorTextBase;
    font-size: 60px;
    @include mediaSize(tablet){
        font-size: 100px;
    }
    @include mediaSize(desktop){
        font-size: 160px;
    }
    .change1{
        animation: titleTransform 5s linear infinite alternate;
    }
    .change2{
        animation: titleTransform 5s linear 1.67s infinite alternate;
    }
    .change3{
        animation: titleTransform 5s linear 3.34s infinite alternate;
    }
}
@keyframes titleTransform {
    0% {    font-variation-settings: "wdth" 0, "slnt" 0;}
    40% {    font-variation-settings: "wdth" 0, "slnt" 0;}
    60% {  font-variation-settings: "wdth" 100, "slnt" 0;}
    100% {  font-variation-settings: "wdth" 100, "slnt" 0;}
}

// MAIN SECTION TEXTS
.text__main--name{
    cursor: default;
    font-family: 'Raleway', sans-serif;
    color: $colorTextBase;
    font-weight: $fontBold;
    font-size: 18px;
    line-height: 20px;
    text-transform: none;
    @include mediaSize(tablet){
        font-size: 28px;
        line-height: 32px;
    }
    @include mediaSize(desktop){
        font-size: 35px;
        line-height: 40px;
    }
}
.text__main--position{
    cursor: default;
    font-family: 'Raleway', sans-serif;
    color: $colorTextBase;
    font-weight: $fontRegular;
    font-size: 16px;
    line-height: 18px;
    text-transform: none;
    @include mediaSize(tablet){
        font-size: 25px;
        line-height: 30px;
    }
    @include mediaSize(desktop){
        font-size: 30px;
        line-height: 35px;
    }
}
.text__main--introduction{
    cursor: default;
    font-family: 'Raleway', sans-serif;
    color: $colorTextBase;
    font-weight: $fontRegular;
    font-size: 12px;
    line-height: 14px;
    text-transform: none;
    @include mediaSize(tablet){
        font-size: 16px;
        line-height: 18px;
    }
    @include mediaSize(desktop){
        font-size: 20px;
        line-height: 25px;
    }
}

// PARALLAX TEXTS
.text__parallax--quote{
    cursor: default;
    font-family: 'Raleway', sans-serif;
    color: $colorTextLight;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    text-transform: none;
    text-align: center;
    text-shadow: 0 0 18px $colorShadow;
    @include mediaSize(tablet){
        font-size: 20px;
        line-height: 20px;
        }
    @include mediaSize(desktop){
        font-size: 24px;
        line-height: 24px;
    }
}

// GENERAL SECTION TEXTS
.text__section--title{
    cursor: default;
    font-family: 'Raleway', sans-serif;
    color: $colorTextBase;
    font-size: 14px;
    line-height: 14px;
    font-weight: $fontBold;
    text-transform: none;
    @include mediaSize(tablet){
        font-size: 16px;
        line-height: 16px;
        }
    @include mediaSize(desktop){
        font-size: 20px;
        line-height: 20px;
    }
}
.text__section--text{
    cursor: default;
    font-family: 'Raleway', sans-serif;
    color: $colorTextBase;
    font-size: 10px;
    line-height: 12px;
    font-weight: $fontRegular;
    text-transform: none;
    @include mediaSize(tablet){
        font-size: 14px;
        line-height: 16px;
        }
    @include mediaSize(desktop){
        font-size: 16px;
        line-height: 18px;
    }
}




// TEXTS

.text__regular{
    font-family: 'Raleway', sans-serif;
    color: $colorTextBase;
    font-weight: $fontRegular;
    font-size: 10px;
    line-height: 12px;
    text-transform: none;
    @include mediaSize(tablet){
        font-size: 12px;
        line-height: 14px;
    }
    @include mediaSize(desktop){
        font-size: 14px;
        line-height: 17px;
    }
}
.text__bold{
    font-family: 'Raleway', sans-serif;
    color: $colorTextBase;
    font-weight: $fontBold;
    font-size: 10px;
    line-height: 12px;
    text-transform: none;
    @include mediaSize(tablet){
        font-size: 12px;
        line-height: 14px;
    }
    @include mediaSize(desktop){
        font-size: 14px;
        line-height: 17px;
    }
}



.text__footer{
    font-family: $fontBase;
    color: $colorTextBase;
    font-size: 12px;
    line-height: 12px;
    font-weight: $fontRegular;
    text-transform: none;
    &--link{
        font-weight: $fontBold;
        text-transform: none;
    }
    @include mediaSize(tablet){
        font-size: 14px;
        line-height: 14px;
        }
    @include mediaSize(desktop){
        font-size: 14px;
        line-height: 14px;
    }
}

// BUTTON TEXTS
